# .NET
bin/
obj/
*.user
.vs/
TestResults/
*.suo
*.sln.docstates

# Secrets / environment
.env
appsettings.Development.json
appsettings.*.json
!appsettings.json

# Angular/Node
schoolvote-client/node_modules/
schoolvote-client/dist/
schoolvote-client/.angular/

# IDEs
.idea/
.vscode/
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Docker
*.dockerignore
